@model IEnumerable<TesteCrud.Models.Fornecedor>

@{
    ViewData["Title"] = "Fornecedores";
}

<h1>Fornecedores</h1>

<p>
    <a asp-action="Create">Novo Fornecedor</a>
</p>

<p>
    Pesquisar
    @using (Html.BeginForm("Index", "Fornecedores", FormMethod.Get))
    {

        @Html.TextBox("Pesquisa")
        <input type="submit" value="Pesquisar" />

    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFornecedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a href="#" data-value="@item.Id" class="btn-Edit">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" >Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudomodal"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{ 
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-Edit").click(function () {
                var id = $(this).data("value");

                $("#conteudomodal").load("Fornecedores/Edit/" + id,
                    function () {
                        $("#myModal").modal("show")
                    });
            })
        });
    </script>

}