@model TesteCrud.Models.Produto

@{
    ViewData["Title"] = "Detalhes Produto";
}

    <h1>Detalhes Produto</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodBarras)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodBarras)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorVenda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorVenda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FornecedorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FornecedorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
