@model IEnumerable<TesteCrud.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Novo Produto</a>
</p>

<p>
    Pesquisar
    @using (Html.BeginForm("Index", "Produtos", FormMethod.Get))
    {

        @Html.TextBox("Pesquisa")
        <input type="submit" value="Pesquisar" />

    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodBarras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodBarras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorVenda)
                </td>
                <td>
                    <a href="#" data-value="@item.Id" class="btn-Edit">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudomodal"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-Edit").click(function () {
                var id = $(this).data("value");

                $("#conteudomodal").load("Produtos/Edit/" + id,
                    function () {
                        $("#myModal").modal("show")
                    });
            })
        });
    </script>

}